* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.sub-header {
    background-color: rgb(255, 255, 255);
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.sub-header ul.info li {
    font-size: 14px;
    color: rgb(122, 122, 122);
    border-right: 1px solid rgb(238, 238, 238);
    margin-right: 25px !important;
    padding-right: 25px !important;
    display: inline-block;
}

.sub-header ul.info li i {
    font-size: 20px;
    color: rgb(243, 85, 37);
    margin-right: 8px !important;
}

.sub-header ul.info li:last-child {
    margin-right: 0 !important;
    padding-right: 0 !important;
    border-right: none;
}

.sub-header .social-link {
    display: flex;
    justify-content: flex-end;
}

.sub-header .social-link a {
    width: 30px;
    height: 30px;
    background-color: rgb(170, 166, 166);
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    transition: 0.3s all ease;
    color: #fcfbfb;
    font-weight: 400;
}

.sub-header .social-link a:hover {
    background-color: rgb(243, 85, 37);
    color: #fff;
}

/*********************************  Main Navbar Css Start  *******************************************/

.navigation-part{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: rgb(30, 30, 30);
    letter-spacing: 2px;
    line-height: 80px;
}

.navbar-brand span {
    color: rgb(243, 85, 37) !important;
}

.nav-item {
    padding: 0 25px;
}

.nav-item a {
    font-weight: 500;
    font-size: 15px;
    transition: 0.4s all ease;
    letter-spacing: 0.25px;
}

.nav-item a:hover {
    color: rgb(243, 85, 37) !important;
}

.nav-item a.active {
    color: rgb(243, 85, 37) !important;
}

.last-but {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    letter-spacing: 0.25px;
    padding: 10px 20px 10px 40px;
    position: relative;
    margin-left: 12px;
    transition: 0.3s all ease;
}

.last-but .nav-icon {
    position: absolute;
    content: "";
    background-color: rgb(243, 85, 37);
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -10px;
    color: #eee;
}

.last-but:hover {
    color: rgb(245, 63, 31);
    cursor: pointer;
}

/*********************************  Main Navbar Css End   *******************************************/

/*********************************  Carousel Css Start  *******************************************/

.carousel-back {
    background-image: url(Images//banner-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.carousel-back1 {
    background-image: url(Images//banner-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.carousel-back2 {
    background-image: url(Images//banner-03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.category {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    margin-bottom: 30px;
    display: inline-block;
}

.category em {
    font-style: normal;
    color: #f35525;
}

.carousel-back h2 {
    font-size: 62px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 0;
    width: 70%;
}

.carousel-back1 h2 {
    font-size: 62px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 0;
    width: 70%;
}

.carousel-back2 h2 {
    font-size: 62px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 0;
    width: 70%;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #f35525 !important;
}

/*********************************  Carousel Css End  *******************************************/

/*********************************  Middle-Part Css Start  *******************************************/


.feature {
    margin-top: 120px;
}

.feature-img {
    position: relative;
}

.feature-img img {
    padding-left: 25px;
    width: 100%;
}

.feature-img a {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f35525;
    border-radius: 50px;
    border-radius: 50%;
    left: 0;
    bottom: -55px;
}

.feature-cont {
    margin-bottom: 60px;
}

.feature-cont h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.feature-cont h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    width: 70%;
}


/************************************* Accordian Part Css Start **********************************/
.accordion {
    outline: none;
    background-color: #fafafa !important;
}

.accordion .accordion-item {
    border: none;
    border-bottom: 1px solid #eaeaea;
}

.accordion .accordion-item:last-child {
    border-bottom: 0;
}

.accordion-item:first-of-type .accordion-button{
    color: #f35525;
}

.accordion button.accordion-button.collapsed::after {
    width: 0;
    height: 0;
}

.accordion button.accordion-button::after {
    width: 0;
    height: 0;
}
.accordion-item .accordion-button{
    
    background-color:#fafafa;
}
.accordion-body{
    background-color: #fafafa;
}
.accordion-body a{
    text-decoration: none;
}

/************************************* Accordian Part Css End **********************************/

.info-table {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px 6px 30px;
}

.info-table .new-table {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.info-table .new-table:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.info-table .new-table h4 {
    font-size: 22px;
    font-weight: 600;
}

.info-table .new-table h4 span {
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}

.table-img {
    margin-right: 25px;
}

.video {
    margin-top: 120px;
}

.video-view {
    background-image: url(Images/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 100px 0 250px 0;
}

.video-heading {
    margin-bottom: 70px;
}

.video-heading h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.video-heading h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    color: #fff;
}

.video-content {
    margin-top: -240px;
}

.video-content .video-frame {
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.video-content .video-frame img {
    border-radius: 10px;
}

.video-content .video-frame a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 25px;
    transform: translate(-26px, -26px);
}

.fun-fact {
    margin-top: 120px;
    text-align: center;
}

.fun-fact .counter {
    position: relative;
    background-color: #ffeee9;
    border-radius: 10px;
    width: 270px;
    padding: 20px 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun-fact .counter h2 {
    margin-right: 25px;
    font-size: 40px;
    color: #f35525;
    font-weight: 700;
    margin-bottom: 0;
}

.fun-fact .counter p {
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
}

.fun-fact .counter span {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #f35525;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    right: -25px;
    top: -25px;
}

.properties-section {
    margin-top: 120px;
}

.Property-info {
    margin-bottom: 70px;
}

.Property-info h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.Property-info h2 {
    margin-top: 20px;
    line-height: 56px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
}

.items {
    padding: 30px;
    background-color: #fafafa;
    margin-bottom: 30px;
    border-radius: 10px;
}

.items img {
    border-radius: 10px;
    width: 100%;
}

.items .items-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.items .items-info h5 {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
}

.items .items-info h4 {
    color: #f35525;
    font-size: 20px;
    font-weight: 700;
}

.items h3 {
    font-weight: 700;
    font-size: 19px;
    margin: 25px 0;
}

.items .bedroom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.items .bedroom .bed {
    font-size: 15px;
    color: #4a4a4a;
}

.items .bedroom1 {
    text-align: center;
    font-size: 15px;
    color: #4a4a4a;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.items .shedule-button {
    text-align: center;
}

.shedule-button a {
    text-decoration: none;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 25px;
    transition: 0.3s all ease;
}

.shedule-button a:hover {
    background-color: #f35525;
}

.contact-sec {
    margin-top: 120px;
}

.contact-back {
    background-image: url(Images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0 250px 0;
    position: relative;
}

.contact-content {
    position: relative;
    margin-top: -240px;
    z-index: 1;
}

.contact-content .mapsys {
    border-radius: 10px !important;
    margin-bottom: 60px;
}

.contact-form {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}

.contact-form label {
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 15px;
}

.contact-form input {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0 15px;
}

.contact-form input::placeholder {
    color: #f35525;
}

.contact-form textarea::placeholder {
    color: #f35525;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    max-height: 180px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 15px 15px;
}

.contact-form button {
    background-color: #1e1e1e;
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s all ease;
}

.contact-form button:hover {
    background-color: #f35525;
    color: #fff;
}

.item-phone {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    display: flex;
}

.item-phone img {
    margin-right: 25px;
    vertical-align: middle;
}

.item-phone h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}

.item-phone h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}
.gmap_canvas{
    border-radius: 10px;
}

/*********************************  Middle-Part Css End  *******************************************/

/*********************************  Footer-Part Css Start  *****************************************/

.footer {
    margin-top: 150px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 16px;
    padding: 40px 0;
    text-align: center;
}

.footer span a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s all ease;
}

.footer span a:hover {
    color: #f35525;
}
.footers {
    background-color: #1e1e1e;
    color: #fff;
    font-size: 16px;
    padding: 40px 0;
    text-align: center;
}

.footers span a {
    color: #fff;
    text-decoration: none;
    transition: 0.4s all ease;
}

.footers span a:hover {
    color: #f35525;
}

/*********************************  Footer-Part Css End  *******************************************/


/*********************************  Contact-Part Css Start  ****************************************/

.Page-heading {
    background-image: url(Images/page-heading-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 110px 0;
    text-align: center;
}

.Page-heading span {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    margin-bottom: 30px;
    display: inline-block;
}

.Page-heading span a {
    text-decoration: none;
    color: #1e1e1e;
    transition: 0.3s all ease;
}

.Page-heading span a:hover {
    color: #f35525;
}

.Page-heading h3 {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0;
}

.cont-sec {
    margin-top: 120px;
}

.cont-sec .sec-heading {
    margin-bottom: 40px;
}

.sec-heading h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.sec-heading h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 56px;
}

.cont-sec p {
    color: #4a4a4a;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 40px;
}

.item-phones {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    display: flex;
    max-width: 360px;
}

.item-phones img {
    margin-right: 25px;
    vertical-align: middle;
}

.item-phones h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}

.item-phones h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}

.other-phone {
    margin-bottom: 30px;
}

#map {
    margin-top: 80px;
}

/*********************************  Contact-Part Css End  *******************************************/


/*********************************  Properties-Part Css Start  **************************************/

/************************************* Tabs Part Css Start ******************************************/

.tab-section {
    margin-top: 120px;
}

.wrapper {
    width: 100%;
    margin: auto;
    background-color: white;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.buttonWrapper button {
    border: none;
    padding: 12px 25px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all ease;
    margin: 5px 8px;
    border-radius: 5px;
}

button:hover {
    color: #f35525;
}

button.active {
    background-color: #f35525;
    color: #fff;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


/************************************** Tabs Part Css End *****************************************/

.pagination-time{
    margin-top: 50px;
}
.round-pagi{
    display: flex;
    justify-content: center;
}
.round-pagi a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #1e1e1e;
    margin: 0 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-pagi a:nth-child(2){
    background-color: #f35525;
}


/*********************************  Properties-Part Css End  **************************************/


/*********************************  Properties-Detail Css Start  **********************************/


.detail-part{
    margin-top: 120px;
}
.main-cont .apparment{
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 40px;
}
.main-cont h4{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}
.main-cont p{
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.main-cont p a{
    text-decoration: none;
}
.best-deal{
    margin-top: 120px;
    padding: 100px 0;
    background-color: #fafafa;
}
.deal-head{
    margin-bottom: 70px;
}
.deal-head h6{  
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.deal-head h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}
.flat-table{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    border-radius: 10px;
}
.flat-table ul li{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.flat-table ul li span{
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
}
.flat-table ul li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.deal-img{
    padding: 0 45px;
    height: 85%;
    width: 100%;
}
.all-info h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}
.all-info p{
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.visits{
    margin-top: 30px;
}
.last-buts {
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 0px 0 50px;
    position: relative;
    height: 50px;
    width: 70%;
    transition: 0.3s all ease;
}

.last-buts .nav-icons {
    position: absolute;
    content: "";
    background-color: rgb(243, 85, 37);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -10px;
    color: #eee;
}

.last-buts:hover {
    color: rgb(245, 63, 31);
    cursor: pointer;
}


/*****************************  Property-details Tabs Part Css Start  ********************************/

.tab-section {
    margin-top: 120px;
}

.wrappers {
    width: 100%;
    margin: auto;
}

.buttonWrappers {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: -130px;
}

.buttonWrappers button {
    border: none;
    padding: 12px 25px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s all ease;
    margin: 5px 8px;
    border-radius: 5px;
}

button:hover {
    color: #f35525;
}

button.active {
    background-color: #f35525;
    color: #fff;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


/*****************************  Property-details Tabs Part Css End  *******************************/


/*********************************  Properties-Detail Css End   ***********************************/





/*************************************  Media Querie Start  ***************************************/


@media (max-width:767px) {
    .sub-header{
        text-align: center;
    }
    .sub-header .social-link {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
}

@media (max-width:991px) {
    .feature-cont{
        margin-top: 100px;
    }
    .info-table{
        margin-top: 45px;
    }
    .fun-fact .counter{
        margin-top: 45px;
    }
    .buttonWrappers{
        margin-top: 0;
        justify-content: center;
    }
    .flat-table{
        margin-bottom: 45px;
    }
}

@media (max-width:330px) {
    .Page-heading h3{
        font-size: 35px;
    }
}


/**************************************  Media Querie End  ****************************************/